{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>

<div>
	<h1><a href="/">Home</a></h1>
</div>

<div>
	<ul>
		<li><a href="/">home</a></li>
		<li><a href="/blog/">blog</a></li>
		<li><a href="/polls/">polls</a></li>
		<li><a href="/home/">asdf</a></li>
	</ul>
</div>


{% if latest_question_list %}
	<ul>
	{% for question in latest_question_list %}
	<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No polls are available.</p>
{% endif %}
