<html>
	<head>
		<title>Intranet HPM</title>
	</head>
	<body>
		<p>Hi there!</p>
		<p>It works!</p>
		<h1>Intranet</h1>
		<a href="http://intranethpm.cl">INTRANET</a>
		<h2>Links</h2>
		<ul>
			<li><a href="http://intranethpm.cl">Intranet</a></li>
			<li><a href="http://intranethpm.cl">Intranet again</a></li>
		</ul>
		<div>
			<h1><a href="/">Home?<a></h1>
		</div>

		<div>
			<p>published: 1.1.2018, 00:01</p>
			<h2><a href="">first post?</a></h2>
			<p>asdfasdfasdf .asdfus asdfum</p>
		</div>

		<div>
			<p>published: 2.1.2018, 00:02</p>
			<h2><a href="">Second post</a></h2>
			<p>asddasdasdasfsddfasd</p>
		</div>
	</body>
</html>
